<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center-xs">
            <nav class="nav-footer hidden">
                <ul class="nav nav-pills">
                    <li>
                        <a href="#" title="About Us">About Us</a>
                    </li>
                    <li>
                        <a href="#" title="Contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <p class="copyright">&copy; {{ $app.year }} Sameday Courier Network Ltd</p>
        </div>
        <div class="col-sm-4 text-center">
            <ul class="socials list-inline hidden">
                <li>
                    <a class="facebook" href="#" title="Facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" title="Twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>
            </ul>
            <p class="copyright">158 Richmond Park Road, Bournemouth BH8 8TW</p>
        </div>
        <div class="col-sm-4 text-center text-right-sm">
            <p class="copyright">Company number: 09338439</p>
            <a class="tcs hidden" href="#" title="T&Cs">T&Cs</a>
        </div>
    </div>
</div>