<!-- list -->
<ul class="nav" data-menus="menuItems" data-type="tree" data-tag="user">
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>Navigation</span>
	</li>
	<li data-ng-repeat="menu in menuItems | orderBy: '-priority'" data-ng-if="menu.hasChild">
		<a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
			<i class="{{menu.class}} icon text-primary-dker"></i>
			<span class="font-bold">{{menu.name}}</span>
		</a>
		<ul class="nav nav-sub dk">
			<li data-ng-repeat="child in menu.children | orderBy: '-priority'" data-ui-sref-active-eq="active">
				<a data-ui-sref="{{child.state.name}}">
					<span>{{child.name}}</span>
				</a>
			</li>
		</ul>
	</li>
	<li data-ng-repeat="menu in menuItems | orderBy: '-priority'" data-ui-sref-active="active" data-ng-if="!menu.hasChild" >
		<a data-ui-sref="{{menu.state.name}}">
			<i class="{{menu.class}} icon text-info-dker"></i>
			<span class="font-bold">{{menu.name}}</span>
		</a>
	</li>
</ul>
<!-- / list -->
