<div class="container">
    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-sm-6">
                <label for="select-job">
                    <h4><span class="glyphicon glyphicon-pushpin"></span> Upload POD for recently completed job</h4>
                </label>
            </div>
            <div class="col-sm-6 text-right">
                <div class="form-group pos-rlt">
                    <select id="select-job" class="form-control" placeholder="Please select a job">
                        <option>Please select a job</option>
                        <option value="JOB_ID">From - To</option>
                    </select>
                    <button type="submit" class="btn btn-warning-dark">Go</button>
                </div>
            </div>
        </div>
    </form>
</div>