<footer class="panel-footer">
    <div class="row">
        <div class="col-sm-4 text-left text-center-xs">
            <div class="btn-group btn-group-sm">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)"
                        class="btn btn-default">10
                </button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)"
                        class="btn btn-default">25
                </button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)"
                        class="btn btn-default">50
                </button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)"
                        class="btn btn-default">100
                </button>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">Showing {{ ((params.$params.page * params.count()) - params.count() + 1) }}-{{ (params.$params.page * params.count()) > params.total() ? params.total() : (params.$params.page * params.count()) }} of {{ params.total() }} results</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
            <pagination total-items="params.total()"
                        ng-model="params.$params.page"
                        items-per-page="params.count()"
                        max-size="4"
                        class="pagination-sm pagination-default m-t-xs m-b-none"
                        boundary-links="false"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        rotate="false"></pagination>
        </div>
    </div>
</footer>