<div class="row row-offcanvas row-offcanvas-right">

    <div class="content col-xs-12">
        <div class="alert alert-warning" role="alert" data-ng-if="! $auth.isUser()">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            Please note this area is for paying members only. Please contact us. @TODO verbiage for this
        </div>

        <div class="panel panel-default">
            <div class="panel-heading buttons">
                <h3 class="panel-title">
                    SDCN Member Benefits
                    <div class="panel-heading-buttons">
                        <button class="btn btn-default btn-xs" data-ng-click="tableParams.reload()">
                            <i class="icon-refresh"></i>
                            <span class="hidden-xs">Refresh</span>
                        </button>
                        <button class="btn btn-default btn-xs btn-offcanvas-toggle" offcanvas-toggle>
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </div>
                </h3>
            </div><!-- /heading  -->

            <div class="panel-body">
                <div sdcn-loader size="lg" data-ng-show="loading"></div>

                <div class="not-found" ng-if="!benefits">
                    <h1>0</h1>
                    <div class="text">Sorry, there are no perks available at the moment.</div>
                </div>

                <div class="row">
                    <div class="col-xs-12 member-benefit" ng-repeat="benefit in benefits">
                            <img src="{{ benefit.partner.logo }}" alt="" class="img img-responsive" style="max-width: 75%; margin: 1rem auto; max-height: 10rem;">
                            <h5><strong>{{ benefit.partner.name }}</strong></h5>
                            <p>{{ benefit.description }}</p>
                            <a ng-href="{{ benefit.url }}" class="btn btn-primary btn-sm" target="_new">
                                Visit benefit page
                            </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
