<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-light h3"><i class="icon-star"></i> Feedbacks</h1>
</div>
<div class="wrapper-md" data-ui-view>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">List of feedbacks</h3>
		</div>
		<div class="panel-body no-padder">
			<div class="row wrapper">
				<div class="col-sm-12 text-right">
					<a class="btn btn-success btn-sm" data-ng-click="tableParams.reload()"><i class="icon-refresh"></i>
						Refresh</a>
					<a class="btn btn-warning btn-sm" data-ng-click="tableParams.sorting({name: 'asc'})"><i
							class="fa fa-eraser"></i> Clear
						sorting</a>
					<a class="btn btn-danger btn-sm" data-ng-click="tableParams.filter({})"><i class="fa fa-eraser"></i>
						Clear filter</a>
					<a class="btn btn-primary btn-sm"
					   ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}"
					   download="jobs.csv"><i class="icon-arrow-down"></i> Export to CSV</a>
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-striped b-t b-light text-left" data-ng-table="tableParams" export-csv="csv"
				       template-pagination="src/admin/layout/pagination.html">
					<tbody>
					<tr class="odd gradeX" data-ng-repeat="data in $data">
						<td data-title="'#'" data-sortable="'id'">{{data.id}}</td>
						<td data-title="'From'">{{data.sender.team_info.company_name}}</td>
						<td data-title="'To'">{{data.owner.team_info.company_name}}</td>
						<td data-title="'Rating'">
							<rating
									class="rating"
									ng-model="data.rating"
									max="5"
									state-on="'glyphicon glyphicon-star text-info'"
									state-off="'glyphicon glyphicon-star-empty text-info'"
									readonly="true"
									>
							</rating>
						</td>
						<td data-title="'Comment'">{{data.comment}}</td>

						<td class="text-right" width="180">
							<a class="btn btn-danger btn-sm" confirm-delete="delete(data)"><i class="fa fa-eraser"></i>
								Delete</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>