<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-light h3"><i class="icon-layers"></i> Partners</h1>
</div>
<div class="wrapper-md" data-ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">SDCN Partners</h3>
        </div>
        <div class="panel-body no-padder">
            <div class="row wrapper">
                <div class="col-sm-4">
                    <div class="form-group m-b-none">
                        <input
                            class="form-control input-sm"
                            type="search"
                            placeholder="Search..."
                            ng-model="tableParams.filter()['search']"
                        />
                    </div>
                </div>

                <div class="col-sm-8 text-right">
                    <a class="btn btn-secondary btn-sm" data-ui-sref=".add"><i class="icon-plus"></i> Add</a>
                    <a class="btn btn-success btn-sm" data-ng-click="tableParams.reload()"><i class="icon-refresh"></i>
                        Refresh</a>
                    <a class="btn btn-warning btn-sm" data-ng-click="tableParams.sorting({name: 'asc'})"><i class="fa fa-eraser"></i> Clear
                        sorting</a>
                    <a class="btn btn-danger btn-sm" data-ng-click="tableParams.filter({})"><i class="fa fa-eraser"></i> Clear filter</a>
                </div>

            </div>

            <div class="table-responsive">
                <table
                    class="table table-striped b-t b-light text-left"
                    data-ng-table="tableParams"
                    template-pagination="src/admin/layout/pagination.html"
                >
                    <tr ng-repeat="data in $data">
                        <td data-title="'Partner'" data-sortable="'name'">{{ data.name }}</td>
                        <td data-title="'Date Added'" data-sortable="'created_at'">{{ data.created_at }}</td>
<!--                         <td data-title="'Perks Active'">
                            <label class="i-switch">
                                <input type="checkbox" data-ng-model="data.can_bid" data-ng-change="toggleBidding(data)">
                                <i></i>
                            </label>
                        </td>
 -->                        <td data-title="'Active Benefits'" data-sortable="'benefits_count'">{{ data.benefits_count }}</td>
                        <td data-title="'Actions'" class="text-right">
                            <a class="btn btn-primary btn-sm" data-ui-sref=".edit({ partner_id:data.id })"><i class="fa fa-edit"></i> Edit</a>
                            </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

