<div class="panel-heading buttons">
    <h3 class="panel-title">
        {{$state.current.page.title}}
        <div class="panel-heading-buttons">
            <button class="btn btn-default btn-xs btn-offcanvas-toggle" offcanvas-toggle>
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </div>
    </h3>
</div>
<div class="panel-body">
    <div class="text-right m-b">
        <a class="btn btn-secondary" href data-ui-sref=".add"><span
                class="fa fa-plus"></span> Add Location</a>
    </div>

    <div class="panel-row">
        <table class="table table-striped b-t b-light text-left" data-ng-table="tableParams"
               template-pagination="src/user/layout/elements/tfoot.html">
            <tbody>
            <tr data-ng-repeat="data in $data" data-ng-if="$data">
                <td data-title="'Location'">
                    {{data.location}}
                </td>
                <td data-title="'Accept jobs within'">
                    {{data.miles}} miles
                </td>
                <td data-title="''" class="text-right">
                    <a class="btn btn-sm btn-primary" href data-ui-sref=".edit({id: data.id})"><span
                            class="fa fa-pencil"></span> Edit</a>
                    <a class="btn btn-sm btn-danger" href
                       data-ng-click="destroy(data)"><span
                            class="fa fa-trash"></span> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>